* {
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    user-drag: none;
}

body {
    background-color: #2d2a2b;
}

.seadragon_container {
    overflow: hidden;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#seadragon_container_container {
    position: fixed;
    padding-left: 130px;
}

#buttons_bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 130px;
    height: 100%;
    background-color: #2d2a2b;
    border-right: 1px solid black;
    z-index: 10;
    cursor: auto;
}

#buttons_bar > * {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 30px;
    left: 10px;
    width: 100px;
    height: 36px;
    margin-top: 5px;
    border: 3px black solid;
    border-radius: 9999px;
    cursor: pointer;
}

#buttons_bar > .color_seal {
    background-color: #5f9ea0;
}

#buttons_bar > .color_purple {
    background-color: #63308b;
}

#buttons_bar > .color_red {
    background-color: #cd5c5c;
}

.picker_overlay {
    background: url("blank.png"); /* IE9 fix */
}
